[submodule "ros/src/sensor_ws/velodyne"]
	path = ros/src/sensor_ws/velodyne
	url = https://github.com/ros-drivers/velodyne.git
[submodule "ros/src/sensor_ws/rslidar_sdk"]
	path = ros/src/sensor_ws/rslidar_sdk
	url = https://github.com/RoboSense-LiDAR/rslidar_sdk.git
