[submodule "ros/src/sensor_ws/velodyne"]
	path = ros/src/sensor_ws/velodyne
	url = https://github.com/ros-drivers/velodyne.git
[submodule "ros/src/sensor_ws/rslidar_sdk"]
	path = ros/src/sensor_ws/rslidar_sdk
	url = https://github.com/RoboSense-LiDAR/rslidar_sdk.git
[submodule "ros/src/livox_ros_driver"]
	path = ros/src/livox_ros_driver
	url = https://github.com/Livox-SDK/livox_ros_driver.git
[submodule "ros/src/sensor_ws/livox_ros_driver"]
	path = ros/src/sensor_ws/livox_ros_driver
	url = https://github.com/Livox-SDK/livox_ros_driver.git
[submodule "ros/src/sensor_ws/tiers-lidars-dataset"]
	path = ros/src/sensor_ws/tiers-lidars-dataset
	url = https://github.com/TIERS/tiers-lidars-dataset.git
